{% extends 'base.html'%}
<!-- Static file loader -->
{% load static %} {% block content %}

<!-- ================= FORM + SUMMARY ================= -->

{{ item_data|json_script:"item-data" }}
<style>
    body {
        font-family: Segoe UI, Tahoma, sans-serif;
        background: #f5f6f8
    }

    .top {
        background: #2f7dd8;
        color: #fff;
        height: 40px;
        font-size: 12px;
    }

    .toolbar {
        background: #555;
        color: #fff;
        padding: 5px;
        font-size: 12px;
    }

    span {
        color: black;
        font-weight: 600;
    }

    .summary {
        background: #dbe9f6;
        padding: 20px;
        min-height: 290px
    }

    .summary .total {
        font-size: 34px;
        font-weight: 700;
        text-align: right
    }

    .table td,
    .table th {
        vertical-align: middle
    }

    input {
        background-color: #fff;
    }


    .form-control,
    .form-select {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 0.4px;
    }

    .add-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #2b2d2b;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    .product-code-col {
    min-width: 280px;
}

.description-col {
    min-width: 200px;
}

    .table-container{
    max-height:500px;      /* Adjust the height as needed */
    overflow-y:auto;
    overflow-x:auto;
    border:1px solid #dee2e6;
    border-radius:8px;
}

.table-container table{
    min-width:1400px;      /* Keeps all columns visible with horizontal scrolling */
    margin-bottom:0;
}

.table-container thead th{
    position:sticky;
    top:0;
    z-index:10;
    background:#ebedee;
    color:#2b2929;
    white-space:nowrap;
}

.table-container td,
.table-container th{
    white-space:nowrap;
    vertical-align:middle;
}

.product-results{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background:#fff;
    border:1px solid #ddd;
    max-height:250px;
    overflow-y:auto;
    z-index:9999;
    display:none;
}

.select2-container--default .select2-selection--single {
    height: 42px;
    border: 2px solid #0d6efd;
    border-radius: 8px;
    background: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    padding-left: 10px;
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.product-item{
    padding:8px 12px;
    cursor:pointer;
}

.product-item:hover{
    background:#0d6efd;
    color:#fff;
}
</style>
<div class="toolbar d-flex justify-content-between">
    <div>
        <button class="btn btn-success"><i class="bi bi-plus-lg"></i> New</button>
        <button class="btn btn-warning" id="submitBtn" type="submit"></i> Save</button>
        <button class="btn btn-dark border-light"><i class="bi bi-printer"></i> Print</button>
        <i class="bi bi-arrow-clockwise fs-3 ms-4"></i>
        <i class="bi bi-list-ul fs-3 ms-3"></i>
        <i class="bi bi-search fs-3 ms-3"></i>
    </div>
    <div><i class="bi bi-paperclip fs-4"></i> <i class="bi bi-bell fs-4 ms-4"></i></div>
</div>







<form id="dataForm">
    {% csrf_token %}
    <div class="container-fluid mt-1">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active">Invoice</a></li>
            <li class="nav-item"><a class="nav-link">Additional Info</a></li>
        </ul>
        <div class="row mt-1">
            <div class="col-lg-8">
                <div class="row g-2">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Invoice*</span>

                            <div class="col">
                                <input class="form-control" id="doc_code" name="doc_code" value="PU">
                            </div>

                            <div class="col">
                                <input class="form-control" id="doc_year" name="doc_year" value="{{ current_year }}">
                            </div>

                            <div class="col">
                                <input class="form-control" id="doc_num" name="doc_num">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="col-md-5 col-form-label">Supplier Invoice</span>
                            <input class="form-control" name="supplier_invoice" id="supplier_invoice" value="S-2603094">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Date*</span>
                            <input class="form-control text-center" type="date" name="doc_date" id="doc_date">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="col-md-5 col-form-label">Currency *</span>
                            <select class="form-select" id="currency" name="currency">
                                <option value="--None--">--None--</option>
                                <!-- <option value="--None--">--None--</option> -->
                                {% for currency in currencies %}
                                <option value="{{currency.id}}">{{currency.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Supplier *</span>
                            <select class="form-select form-control" id="supplier_select" name="supplier_name">
                                {% for supplier in suppliers %}
                                <option value="{{supplier.id}}" data-address="{{supplier.address}}">{{supplier.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="col-md-5 col-form-label">Credit Facility *</span>
                            <select class="form-select" id="credit_fercility" name="credit_fercility">
                                <option value="--None--">--None--</option>
                                {% for credit_f in creditfacility %}
                                <option value="{{credit_f.id}}">{{credit_f.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Address*</span>
                            <!-- <label>Address</label> -->
                            <textarea class="form-control" id="supplier_address" name="supplier_address"
                                readonly></textarea>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="input-group">
                                <span class="col-md-4 col-form-label">Project *</span>
                                <!-- <label>Project</label> -->
                                <input class="form-control" name="project" id="project">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="summary">
                    <div class="d-flex justify-content-between"><b>Amount</b><span>120,000.00</span></div>
                    <div class="d-flex justify-content-between mt-3"><b>Discount</b><span>0.00%</span></div>
                    <div class="d-flex justify-content-between mt-3"><b>VAT</b><span>9,000.00</span></div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div style="font-size:25px;font-weight:700">NGN</div>
                        <div class="total">
                                    <input type="text"
                                id="invoice_total"
                                class="form-control text-end fw-bold"
                                readonly
                                value="0.00">
                        </div>
                    </div>
                    <p class="text-end text-primary">Unpaid 129,000.00</p>
                </div>
            </div>
        </div>
        <div id="loader" style="display: none;">
            <span class="spinner"></span> Saving...
        </div>
        <div id="response-message"></div>

         <!-- <div class="d-flex justify-content-between align-items-center mb-2">
            <button type="button" class="btn btn-dark" id="add-row">
                <i class="bi bi-plus-circle"></i>
            </button>
            </div> -->
        <div class="d-flex justify-content-between align-items-center mb-2">

        <!-- Left Button -->
        <button type="button" class="btn btn-primary" id="add-row">
            <i class="bi bi-plus-lg"></i>Add
        </button>

        <!-- Right Button -->
        <!-- <button type="button" class="btn btn-danger" id="delete-row">
            <i class="bi bi-trash"></i> Delete Selected
        </button> -->

        </div>
        <div class="table-container">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                        
                        </th>
                        <th class="product-code-col">Product</th>
                        <th class="description-col">Description</th>
                        <th style="min-width: 100px;">Warehouse</th>
                        <th style="min-width: 80px;">Qty</th>
                        <th style="min-width: 80px;">Unit</th>
                        <th style="min-width: 130px;">Unit Price</th>
                        <th style="min-width: 120px;">Amount</th>
                        <th style="min-width: 80px;">Disc%</th>
                        <th style="min-width: 80px;">Discount</th>
                        <th style="min-width: 80px;">Gross Amount</th>
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>
    </div>
    </div>
</form>

<!-- MODAL SECTION -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this row?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteRow">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}