{% extends 'base.html'%}
<!-- Static file loader -->
{% load static %} {% block content %}

<!-- ================= FORM + SUMMARY ================= -->

{{ item_data|json_script:"item-data" }}
<style>
    body {
        font-family: Segoe UI, Tahoma, sans-serif;
        background: #f5f6f8
    }

    .top {
        background: #2f7dd8;
        color: #fff;
        height: 40px;
        font-size: 12px;
    }

    .toolbar {
        background: #555;
        color: #fff;
        padding: 5px;
        font-size: 12px;
    }

    .summary {
        background: #dbe9f6;
        padding: 20px;
        min-height: 290px
    }

    .summary .total {
        font-size: 34px;
        font-weight: 700;
        text-align: right
    }

    .table td,
    .table th {
        vertical-align: middle
    }

    input {
        background-color: #fff;
    }


    .form-control,
    .form-select {
        background: #f2f2f2;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .add-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #2b2d2b;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }
</style>
<div class="toolbar d-flex justify-content-between">
    <div>
        <button class="btn btn-success"><i class="bi bi-plus-lg"></i> New</button>
        <button class="btn btn-warning" id="submitBtnUpdate" type="submit"></i> Save</button>
        <button class="btn btn-dark border-light"><i class="bi bi-printer"></i> Print</button>
        <i class="bi bi-arrow-clockwise fs-3 ms-4"></i>
        <i class="bi bi-list-ul fs-3 ms-3"></i>
        <i class="bi bi-search fs-3 ms-3"></i>
    </div>
    <div><i class="bi bi-paperclip fs-4"></i> <i class="bi bi-bell fs-4 ms-4"></i></div>
</div>
<input type="hidden" id="document_id" value="{{ order.id }}">
<form id="UpdatedataForm">
     {% csrf_token %}
    <div class="container-fluid mt-1">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active">Invoice</a></li>
            <li class="nav-item"><a class="nav-link">Additional Info</a></li>
        </ul>
        <div class="row mt-1">
            <div class="col-lg-8">
                <div class="row g-2">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Invoice*</span>
                            <div class="col"><input class="form-control" name="doc_code" value="{{order.doc_code}}" ></div>
                            <div class="col"><input class="form-control" name="doc_year" value="{{order.doc_year}}"></div>
                            <div class="col"><input class="form-control" name="doc_num" value="{{order.doc_num}}"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="col-md-5 col-form-label">Supplier Invoice</span>
                            <input class="form-control" name="supplier_invoice" value="{{order.supplier_invoice}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Date*</span>
                            <input class="form-control text-center" type="date" name="date">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="col-md-5 col-form-label">Currency *</span>
                            <select class="form-select" id="currency" name="currency">
                                <!-- <option value="">--None--</option> -->

                                {% for currency in currencies %}
                                    <option value="{{ currency.name }}"
                                        {% if currency.id == order.currency.id %}selected{% endif %}>
                                        {{ currency.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Supplier *</span>
                            <select class="form-select" id="supplier_select" name="supplier_name">
                                <option value="--None--">--None--</option>
                                {% for supplier in suppliers %}
                                <option value="{{supplier.id}}" data-address="{{supplier.address}}">{{supplier.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="col-md-5 col-form-label">Credit Facility *</span>
                            <select class="form-select" name="credit_f" id="credit_f">
                                {% for credit_f in creditfacility %}
                                    <option value="{{ credit_f.name }}"
                                        {% if credit_f.id == order.credit_f.id %}selected{% endif %}>
                                        {{ credit_f.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="col-md-2 col-form-label">Address*</span>
                            <!-- <label>Address</label> -->
                            <textarea class="form-control" id="supplier_address" name="supplier_address"
                                readonly></textarea>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="input-group">
                                <span class="col-md-4 col-form-label">Project *</span>
                                <!-- <label>Project</label> -->
                                <input class="form-control" name="project">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- ///////////// -->
   
            <div class="col-lg-4">
                <div class="summary">
                    <div class="d-flex justify-content-between"><b>Amount</b><span>120,000.00</span></div>
                    <div class="d-flex justify-content-between mt-3"><b>Discount</b><span>0.00%</span></div>
                    <div class="d-flex justify-content-between mt-3"><b>VAT</b><span>9,000.00</span></div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div style="font-size:46px;font-weight:700">NGN</div>
                        <div class="total">129,000.00</div>
                    </div>
                    <p class="text-end text-primary">Unpaid 129,000.00</p>
                </div>
            </div>
        </div>
        <div id="loader" style="display: none;">
            <span class="spinner"></span> Saving...
        </div>
        <div id="response-message"></div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th style="width:40px">
                        <button type="button" class="btn btn-dark" id="add-row">
                            +
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Warehouse</th>
                    <th>Qty</th>
                    <th>Unit</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                    <th>Disc%</th>
                    <th>Discount</th>
                    <th>Gross Amount</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <tr>
                    <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="something"
                            checked style="width: 25px; height: 25px"></td>
                    <td><input type="text" class="form-control" name="code" value="4i4564 Cmp-Fuel Pump"></td>
                    <td><input type="text" class="form-control" name="description"></td>
                    <td><input type="text" class="form-control" value="Kuje Store" name="warehouse">
                    </td>
                    <td><input type="text" class="form-control" value="1.000" name="qty"></td>
                    <td>
                        <select class="form-control" name="product_unit" id="unit" <option value=""></option>
                            <option value="PC">PC</option>
                            <option value="LIT">LIT</option>
                            <option value="SET">SET</option>
                            <option value="GALLON">GALLON</option>
                            <option value="MTR">MTR</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" name="unit-price" value="120,000.00">
                    </td>
                    <td><input type="text" class="form-control" name="amount" disabled></td>
                    <td><input type="text" class="form-control" name="percentage-discount" value="%0">
                    </td>
                    <td><input type="text" class="form-control" name="discount" value="120,000.00">
                    </td>
                    <td><input type="text" class="form-control" name="gross-amount" value="120,000.00" disabled>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>

{% endblock content %}