*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#ececec;
    font-family:Poppins,sans-serif;
    padding:30px;

}

.invoice{

    width:900px;
    margin:auto;
    background:#fff;
    padding:40px;

}

.logo{

    display:flex;
    align-items:center;
    gap:20px;

}

.circle{

    width:60px;
    height:60px;
    border-radius:50%;
    background:linear-gradient(135deg,#2563eb,#60a5fa);

}

.header h1{

    font-size:42px;

}

.header p{

    font-size:15px;
    color:#555;

}

hr{

    margin:20px 0;

}

.top{

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:40px;

}

.title h1{

    color:#2f68c6;
    font-size:56px;

}

.company-info{

    text-align:right;

}

.customer h2{

    margin:10px 0;

}

table{

    width:100%;
    border-collapse:collapse;

}

thead{

    background:#2f68c6;
    color:white;

}

th{

    padding:12px;

}

td{

    padding:10px;

    border-bottom:1px solid #ddd;

}

tbody tr:nth-child(even){

    background:#eaf5ff;

}

.middle{

    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;

}

.totals{

    width:300px;

}

.totals p{

    display:flex;
    justify-content:space-between;
    margin:8px 0;

}

.grand{

    background:#2f68c6;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    font-size:22px;
    font-weight:bold;
    margin-top:20px;

}

.bottom{

    display:flex;
    justify-content:space-between;
    margin-top:50px;

}

.payment{

    width:45%;

}

.payment h3{

    background:#2f68c6;
    color:white;
    padding:10px;
    margin-bottom:20px;

}

.payment p{

    margin:10px 0;

}

.signature{

    width:35%;
    text-align:center;
    align-self:flex-end;

}

.sign{

    font-family:cursive;
    font-size:36px;
    margin-bottom:15px;

}

.footer{

    margin-top:60px;
    border-top:3px solid #2f68c6;
    padding-top:15px;
    display:flex;
    justify-content:space-between;
    color:#444;
    font-size:15px;

}

@media print{

body{

background:white;
padding:0;

}

.invoice{

box-shadow:none;
width:100%;
padding:20px;

}

}